mixin videoBlock(video = {})
<<<<<<< HEAD
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=`/${video.videoFile}`, controls=false)
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.videoBlock__views 1 view
            else
                h6.videoBlock__views #{video.views} views
=======
     .videoBlock
         a(href=routes.videoDetail(video.id))
             video.videoBlock__thumbnail(src=video.videoFile, controls=false)
             h4.videoBlock__title=video.title
             if video.views === 1
                 h6.videoBlock__views 1 view
             else
                 h6.videoBlock__views #{video.views} views
>>>>>>> c39c480fc514d388b6ed570473c3f213b351da86
